#crazy_loud { font-family: $sans;}
#crazy_glue { font-family: $serif;}


li {list-style:none;}
.jp-pause, .jp-play, .jp-next, .jp-previous {
	float:left;
	margin:0;
	padding:0;
	border:none;
}


.footer i {color:white;}

@media (max-width:699px){
	.jp-playlist-current {
		font-size: 1.7em;
		line-height: 1.4em;
		color:black;
		text-decoration: none;
		text-shadow: 0px 2px 1px #bbbaba;
		color: #c2c2c2;
		text-shadow: 0px 2px 1px #333;
	}
	.footer { height: 130px;}

	.fa-4x {
	  font-size: 3em !important;
	}
	.jp-controls {
		margin:0 auto;
		width:300px;
	}
	a.jp-play, a.jp-pause {
		margin:0 35px;
		width: 41px;
		text-align: center;
	}
}
@media (min-width:700px){
	a.jp-play, a.jp-pause {
		margin:0 45px;
		width:50px;
		text-align:center;
	}
	.footer { height: 180px;}

	.jp-playlist-current {
		//font: $sans;
		font-size: 2em;
		line-height: 1.5em;
		color:black;
		text-decoration: none;
		text-shadow: 0px 2px 1px #bbbaba;
		color: #c2c2c2;
		text-shadow: 0px 2px 1px #333;
	}
	.jp-controls {
		margin:0 auto;
		width:300px;
	}
}
.jp-no-solution {}

.jp-playlist ul {margin:0;}
.jp-playlist li {
	display:none;
}
.jp-playlist li.jp-playlist-current {
	display: block;
}
section{ text-align: center;}
