@media (min-width: 761px) {
	#logo {
		background: url(../img/logo.png);
		width: 180px; 
		height: 86px;
		top:15px;
		right:15px;
		position:absolute;
		text-indent:-9999px;
	}

	.social{
		margin:125px 25px 0 0;
		float:right;
		height:43px;

		a span {
			color:#FFF;
			opacity:0.2;
			&:hover {
				opacity: 1;
			}
		}

		.fa-black {
			color:#000
		}	

	}

	header {
	    position: absolute;
	    top: 5px;
	    right: 5px;
	    z-index: 999;
	    width: 400px;
	    height: 200px;
	}


}

//Mobile Version
@media (max-width : 760px) { 
	#logo {
		text-align:center;
		background: url(../img/logo-small.png);
		height: 52px;
		margin: 0 auto;
		text-indent:-9999px;
	}

	.social{
		width: 226px;
		margin:0 auto;
		height:43px;

		a span {
			color:#FFF;
			@include opacity;
		}

		.fa-black {
			color:#000
		}	

	}

	header {
	    width: 320px;
	    height: 100px;
	    margin: 0 auto;
	}

	.mobile-only {
		height: 100px;
	    position:absolute;
	    // display: block;
		width: 100%;
	    z-index: 99999;
	}

}



.footer {
	position:absolute;
	width:100% ;
	bottom:0;
	left:0;
	z-index: 1000;
}

.Side-A, .Side-B {
	position: absolute;
    bottom: 150px;
    width:200%;
    text-align: center;
    line-height: 1.1;
    font-size: 2.5em;
    text-transform: uppercase;
    cursor: pointer;
	
    
    li {
    	@include opacity;	
    }
}

@media (min-width:761px){
	nav#next-btn {
	    position: absolute;
	    right: 5%;
	    top: 40%;
	    padding: 0;
	    opacity: .2;
	    cursor: pointer;
	    z-index: 1000;
	    
		&:hover {
		    opacity:.9;
		}
		
		.next-icon {
		    background: url(../img/arrow.png) 0 0;
		    display: block;
		    width: 55px;
		    height: 186px;
		    position: relative;
		    text-decoration: none;
		}
		
	}

	.footer {
		height: 125px;
	}
}
@media (max-width: 760px) 
{
	nav#next-btn {
	    position: absolute;
	    right: 5%;
	    top: 45%;
	    padding: 20px;
	    // background: #FFF;
	    border-radius: 40px;
	    opacity: .6;
	    cursor: pointer;
	    z-index: 1000;

	    @include opacity;
	}

	.next-icon {
	    display: block;
	    border-top: solid 2px #e60f29;
	    border-right: solid 2px #e60f29;
	    width: 20px;
	    height: 20px;
	    position: relative;
	    left: -5px;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	    // color: #fff;
	    text-decoration: none;
	}

	.footer {
		height: 78px;
	}
}