
#logo {
	background: url(../img/logo.png);
	width: 180px; 
	height: 86px;
	top:15px;
	right:15px;
	position:absolute;
	text-indent:-9999px;

}

.social{
	margin:125px 25px 0 0;
	float:right;
	height:26px;

	a span {

		color:#FFF;
		opacity:0.2;
		&:hover {
			opacity: 1;
		}
	}

	.fa-black {
		color:#000
	}	

}


.footer {
	position:absolute;
	width:100% ;
	bottom:0;
	left:0;
	height: 125px;
	z-index: 1000;
}

.Side-A, .Side-B {
	position: absolute;
    bottom: 150px;
    width:100%;
    text-align: center;
    line-height: 1.1;
    font-size: 2.5em;
    text-transform: uppercase;
    cursor: pointer;
	
    
    li {
    	@include opacity;	
    }
}

/* Nav */

nav#next-btn {
    position: absolute;
    right: 5%;
    top: 40%;
    padding: 0;
    opacity: .2;
    cursor: pointer;
    z-index: 1000;
    
	&:hover {
	    opacity:.9;
	}
	
	.next-icon {
	    background: url(../img/arrow.png) 0 0;
	    display: block;
	    width: 55px;
	    height: 186px;
	    position: relative;
	    /*left: -5px;*/
	    text-decoration: none;
	}
}

