#logo {
	background: url(../img/logo.png);
	width: 180px; 
	height: 86px;
	top:15px;
	right:15px;
	position:absolute;
	text-indent:-9999px;

}

.social{
	margin:125px 25px 0 0;
	float:right;
	height:26px;
	
	a span {
		color:#FFF;
		opacity:0.2;
		&:hover {
			opacity: 1;
		}
	}

	.fa-black {
		color:#000
	}	

}

div.mejs-button.mejs-playlist-button.mejs-show-playlist,
div.mejs-button.mejs-playlist-button.mejs-hide-playlist {
	clear:left;
	&:after {
	
	}
}


#footer {
	position:absolute;
	width:100% ;
	bottom:0;
	left:0;
	height: 13em;
}

.Side-A, .Side-B {
	position: absolute;
    top: 35%;
    left: 5%;
    opacity: .5;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    font-size: 3em;
    text-transform: uppercase;
    opacity: .4;
    cursor: pointer;
}