@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Big Video */
/* line 9, ../sass/screen.scss */
#big-video-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 10, ../sass/screen.scss */
#big-video-vid, #big-video-image {
  position: absolute;
}

/* line 11, ../sass/screen.scss */
#big-video-control-container {
  position: fixed;
  bottom: 20px;
  padding: 0 20px;
  width: 100%;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

/* line 13, ../sass/screen.scss */
#big-video-control {
  width: 100%;
  height: 16px;
  position: relative;
}

/* line 14, ../sass/screen.scss */
#big-video-control-middle {
  margin: 0 56px 0 24px;
}

/* line 15, ../sass/screen.scss */
#big-video-control-bar {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer;
}

/* line 16, ../sass/screen.scss */
#big-video-control-progress {
  position: absolute;
  top: 7px;
  height: 3px;
  width: 0%;
  background: #fff;
}

/* line 17, ../sass/screen.scss */
#big-video-control-track {
  position: absolute;
  top: 8px;
  height: 1px;
  width: 100%;
  background: #fff;
}

/* line 18, ../sass/screen.scss */
#big-video-control-bound-left {
  left: 0;
}

/* line 19, ../sass/screen.scss */
#big-video-control-bound-right {
  right: -1px;
}

/* line 20, ../sass/screen.scss */
#big-video-control-track .ui-slider-handle {
  opacity: 0;
}

/* line 21, ../sass/screen.scss */
#big-video-control-playhead {
  left: 30%;
}

/* line 22, ../sass/screen.scss */
#big-video-control-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url("bigvideo.png");
}

/* line 23, ../sass/screen.scss */
#big-video-control-timer {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 11px;
}

/* line 24, ../sass/screen.scss */
#big-video-control-playhead, #big-video-control-bound-left, #big-video-control-bound-right {
  position: absolute;
  top: 0;
  height: 16px;
  width: 1px;
  background: #fff;
}

/* line 25, ../sass/screen.scss */
#big-video-control .ui-slider-handle {
  border-left: solid 1px #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
}

/* line 26, ../sass/screen.scss */
.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* line 27, ../sass/screen.scss */
.vjs-big-play-button {
  display: none !important;
}

/* End Big Video */
/* App.css */
/* line 33, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 33, ../sass/screen.scss */
html {
  line-height: 1;
}

/* line 33, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 33, ../sass/screen.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../sass/screen.scss */
q, blockquote {
  quotes: none;
}

/* line 33, ../sass/screen.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 33, ../sass/screen.scss */
a img {
  border: none;
}

/* line 33, ../sass/screen.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xM6Eyu0BCqAfob_z3hhzRFzr7w4p9aSvGirXi6XmeXNA.woff) format("woff");
}

/* line 33, ../sass/screen.scss */
h1, h2 {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 33, ../sass/screen.scss */
p {
  line-height: 1.4;
  text-shadow: 1px 1px 1px #000;
}

/* line 33, ../sass/screen.scss */
a, a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
a:hover {
  color: #40a5c6;
}

/* line 33, ../sass/screen.scss */
h1 a, h1 a:hover, h1 a:visited {
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
p a {
  font-weight: 700;
}

/* line 33, ../sass/screen.scss */
#big-video-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 33, ../sass/screen.scss */
#big-video-vid, #big-video-image {
  position: absolute;
}

/* line 33, ../sass/screen.scss */
#big-video-control-container {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

/* line 33, ../sass/screen.scss */
#big-video-control {
  width: 100%;
  height: 16px;
  position: relative;
}

/* line 33, ../sass/screen.scss */
#big-video-control-middle {
  margin: 0 56px 0 24px;
}

/* line 33, ../sass/screen.scss */
#big-video-control-bar {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer;
}

/* line 33, ../sass/screen.scss */
#big-video-control-progress {
  position: absolute;
  top: 7px;
  height: 3px;
  width: 0%;
  background: #fff;
}

/* line 33, ../sass/screen.scss */
#big-video-control-track {
  position: absolute;
  top: 8px;
  height: 1px;
  width: 100%;
  background: #fff;
}

/* line 33, ../sass/screen.scss */
#big-video-control-bound-left {
  left: 0;
}

/* line 33, ../sass/screen.scss */
#big-video-control-bound-right {
  right: -1px;
}

/* line 33, ../sass/screen.scss */
#big-video-control-track .ui-slider-handle {
  opacity: 0;
}

/* line 33, ../sass/screen.scss */
#big-video-control-playhead {
  left: 30%;
}

/* line 33, ../sass/screen.scss */
#big-video-control-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url("bigvideo.png");
}

/* line 33, ../sass/screen.scss */
#big-video-control-timer {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 11px;
}

/* line 33, ../sass/screen.scss */
#big-video-control-playhead, #big-video-control-bound-left, #big-video-control-bound-right {
  position: absolute;
  top: 0;
  height: 16px;
  width: 1px;
  background: #fff;
}

/* line 33, ../sass/screen.scss */
#big-video-control .ui-slider-handle {
  border-left: solid 1px #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
}

/* line 33, ../sass/screen.scss */
.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* line 33, ../sass/screen.scss */
.vjs-big-play-button {
  display: none !important;
}

/* line 33, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 33, ../sass/screen.scss */
.jp-pause, .jp-play, .jp-next, .jp-previous {
  float: left;
  margin: 0;
  padding: 0;
  border: none;
}

/* line 33, ../sass/screen.scss */
.footer i {
  color: white;
}

@media (max-width: 699px) {
  /* line 33, ../sass/screen.scss */
  .jp-playlist-current {
    font: "Open Sans Condensed",sans-serif;
    font-size: 1.7em;
    line-height: 1.4em;
    color: black;
    text-decoration: none;
    text-shadow: 0px 2px 1px #bbbaba;
    color: #c2c2c2;
    text-shadow: 0px 2px 1px #333;
  }

  /* line 33, ../sass/screen.scss */
  .footer {
    height: 130px;
  }

  /* line 33, ../sass/screen.scss */
  .fa-4x {
    font-size: 3em !important;
  }

  /* line 33, ../sass/screen.scss */
  .jp-controls {
    margin: 0 auto;
    width: 205px;
  }

  /* line 33, ../sass/screen.scss */
  a.jp-play, a.jp-pause {
    margin: 0 35px;
    width: 41px;
    text-align: center;
  }
}
@media (min-width: 700px) {
  /* line 33, ../sass/screen.scss */
  a.jp-play, a.jp-pause {
    margin: 0 45px;
    width: 50px;
    text-align: center;
  }

  /* line 33, ../sass/screen.scss */
  .footer {
    height: 180px;
  }

  /* line 33, ../sass/screen.scss */
  .jp-playlist-current {
    font: "Open Sans Condensed",sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    color: black;
    text-decoration: none;
    text-shadow: 0px 2px 1px #bbbaba;
    color: #c2c2c2;
    text-shadow: 0px 2px 1px #333;
  }

  /* line 33, ../sass/screen.scss */
  .jp-controls {
    margin: 0 auto;
    width: 265px;
  }
}
/* line 33, ../sass/screen.scss */
.jp-playlist li {
  display: none;
}

/* line 33, ../sass/screen.scss */
.jp-playlist li.jp-playlist-current {
  display: block;
}

/* line 33, ../sass/screen.scss */
section {
  text-align: center;
}

/* line 33, ../sass/screen.scss */
.jp-progress {
  overflow: hidden;
  background-color: #ddd;
  clear: both;
  margin: 0 auto;
  width: 90%;
}

/* line 33, ../sass/screen.scss */
.jp-audio .jp-progress {
  height: 5px;
  opacity: 0.3;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 33, ../sass/screen.scss */
.jp-audio .jp-progress:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 33, ../sass/screen.scss */
div.jp-seek-bar {
  background: url("../img/jplayer.blue.monday.jpg") 0 -202px repeat-x;
  width: 0px;
  height: 100%;
  cursor: pointer;
}

/* line 33, ../sass/screen.scss */
div.jp-play-bar {
  background: url("../img/jplayer.blue.monday.jpg") 0 -218px repeat-x;
  width: 0px;
  height: 100%;
}

/* line 33, ../sass/screen.scss */
div.jp-seeking-bg {
  background: url("../img/jplayer.blue.monday.seeking.gif");
}

@media (min-width: 761px) {
  /* line 33, ../sass/screen.scss */
  #logo {
    background: url(../img/logo.png);
    width: 180px;
    height: 86px;
    top: 15px;
    right: 15px;
    position: absolute;
    text-indent: -9999px;
  }

  /* line 33, ../sass/screen.scss */
  .social {
    margin: 125px 25px 0 0;
    float: right;
    height: 43px;
  }

  /* line 33, ../sass/screen.scss */
  .social a span {
    color: #FFF;
    opacity: 0.2;
  }

  /* line 33, ../sass/screen.scss */
  .social a span:hover {
    opacity: 1;
  }

  /* line 33, ../sass/screen.scss */
  .social .fa-black {
    color: #000;
  }

  /* line 33, ../sass/screen.scss */
  header {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 760px) {
  /* line 33, ../sass/screen.scss */
  #logo {
    text-align: center;
    background: url(../img/logo-small.png);
    height: 52px;
    margin: 0 auto;
    text-indent: -9999px;
  }

  /* line 33, ../sass/screen.scss */
  .social {
    width: 275px;
    margin: 0 auto;
    height: 43px;
  }

  /* line 33, ../sass/screen.scss */
  .social a span {
    color: #FFF;
    opacity: 0.3;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  /* line 33, ../sass/screen.scss */
  .social a span:hover {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  /* line 33, ../sass/screen.scss */
  .social .fa-black {
    color: #000;
  }

  /* line 33, ../sass/screen.scss */
  header {
    width: 320px;
    height: 100px;
    margin: 0 auto;
  }

  /* line 33, ../sass/screen.scss */
  .mobile-only {
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 99999;
  }
}
/* line 33, ../sass/screen.scss */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

/* line 33, ../sass/screen.scss */
.Side-A, .Side-B {
  position: absolute;
  bottom: 150px;
  width: 200%;
  text-align: center;
  line-height: 1.1;
  font-size: 2.5em;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 33, ../sass/screen.scss */
.Side-A li, .Side-B li {
  opacity: 0.3;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 33, ../sass/screen.scss */
.Side-A li:hover, .Side-B li:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 33, ../sass/screen.scss */
nav#next-btn {
  position: absolute;
  right: 5%;
  top: 45%;
  padding: 20px;
  background: #FFF;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.3;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 33, ../sass/screen.scss */
nav#next-btn:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 33, ../sass/screen.scss */
.next-icon {
  display: block;
  border-top: solid 2px #e60f29;
  border-right: solid 2px #e60f29;
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-decoration: none;
}

/* End App.css */
/* line 37, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 44, ../sass/screen.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #111;
  overflow: hidden;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

/* line 56, ../sass/screen.scss */
.wrapper {
  position: absolute;
  width: 200%;
  height: 100%;
  z-index: 0;
}

/* Text */
/* line 66, ../sass/screen.scss */
h1,
h2 {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 72, ../sass/screen.scss */
p {
  line-height: 1.4;
  text-shadow: 1px 1px 1px #000;
}

/* line 78, ../sass/screen.scss */
a,
a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 83, ../sass/screen.scss */
a:hover {
  color: #40a5c6;
}

/* line 89, ../sass/screen.scss */
h1 a,
h1 a:hover,
h1 a:visited {
  text-decoration: none;
}

/* line 93, ../sass/screen.scss */
p a {
  font-weight: 700;
}

/* Video Pages */
/* line 99, ../sass/screen.scss */
.screen {
  position: relative;
  height: 100%;
  width: 50%;
  /*  NOTE: numVideos/100%  */
  float: left;
  overflow: hidden;
}

/* line 107, ../sass/screen.scss */
.big-image {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
